<section id=welcome class="main animated" layout=column layout-align="center center" frontscreen>

  <span id=text class="text animated" style=display:none>
    <span id=logo>Wishero</span>
    <span class=subtitle>makes wishes come true</span>
    <a ng-click=welcome() class=ghost-btn flex=80 flex-offset=10>welcome in</a>
    <span class="about" ng-click="about()">What is Wishero?</span>
  </span>
  <span id=cover class=cover style=display:none;>
    <!-- <img ng-src=/assets/cover.jpg class="animated coverImg ng-hide"> -->
  </span>
</section>
